.lista {
  margin-left: 50px;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 60%;
}

li {
  color: black;
  transition: color 0.3s ease;
}

li:hover {
  color: blue;
  cursor: pointer;
}
.selected{
  color: blue;
  font-weight: bold;
}

